In [1]:
DATA_PATH = '../data/raw/developer_survey_2020/survey_results_public.csv'
EXPORT_PATH = '../data/processed/cleaned_df.pkl'

In [2]:
import pickle
import numpy as np
import pandas as pd
pd.options.display.max_rows = 10000

In [3]:
raw_df = pd.read_csv(DATA_PATH)

In [4]:
raw_df.shape

(64461, 61)

In [5]:
raw_df.sample(1).iloc[0]

Respondent                                                                  36859
MainBranch                                 I am a student who is learning to code
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     18
CompFreq                                                                      NaN
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                     China
CurrencyDesc                                                                  NaN
CurrencySymbol                                                                NaN
DatabaseDesireNextYear                                         MySQL;Redis;SQLite
DatabaseWorkedWith                                             MySQL;Redis;SQLite
DevType                                                                       NaN
EdLevel                              Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)
Employment                                                                Student
Ethnicity                                                                     NaN
Gender                                                                        NaN
JobFactors                             Opportunities for professional development
JobSat                                                                        NaN
JobSeek                                           I am actively looking for a job
LanguageDesireNextYear                                                 C;C++;Java
LanguageWorkedWith                                              C;C++;Java;Python
MiscTechDesireNextYear                                                        NaN
MiscTechWorkedWith                                                            NaN
NEWCollabToolsDesireNextYear                                                  NaN
NEWCollabToolsWorkedWith                                                      NaN
NEWDevOps                                                                     NaN
NEWDevOpsImpt                                                                 NaN
NEWEdImpt                                                                     NaN
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                         Every few months
NEWOffTopic                                                                   NaN
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                 NaN
NEWOvertime                                                                   NaN
NEWPurchaseResearch                                                           NaN
NEWPurpleLink                                                                 NaN
NEWSOSites                                                                    NaN
NEWStuck                                                                      NaN
OpSys                                                                         NaN
OrgSize                                                                       NaN
PlatformDesireNextYear                                                        NaN
PlatformWorkedWith                                                            NaN
PurchaseWhat                                                                  NaN
Sexuality                                                                     NaN
SOAccount                                                                     NaN
SOComm                                                                        NaN
SOPartFreq                                                                    NaN
SOVisitFreq                                                                   NaN
SurveyEase                                                                    NaN
SurveyLength                                                                  NaN
Trans                                                                         NaN
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                                        NaN
WebframeWorkedWith                                                            NaN
WelcomeChange                                                                 NaN
WorkWeekHrs                                                                   NaN
YearsCode                                                                       3
YearsCodePro                                                                  NaN
Name: 36617, dtype: object

In [6]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [7]:
raw_df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

In [8]:
questionable_cols = ["YearsCodePro", "YearsCode", "Age1stCode"]

In [9]:
for col in questionable_cols:
    print(col)
    print(raw_df[col].unique().tolist())
    print('---------------')
    print()

YearsCodePro
['27', '4', nan, '8', '13', '2', '7', '20', '1', '23', '3', '12', '17', '18', '10', '14', '29', '6', '28', '9', '15', '11', '16', '25', 'Less than 1 year', '5', '21', '19', '35', '24', '32', '22', '30', '38', '26', '40', '33', '31', 'More than 50 years', '34', '36', '39', '37', '41', '45', '47', '42', '46', '50', '43', '44', '48', '49']
---------------

YearsCode
['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19', '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13', '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40', '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31', '34', '29', '1', '39', '41', '45', 'More than 50 years', '47', '49', '48']
---------------

Age1stCode
['13', '19', '15', '18', '16', '14', '12', '20', '42', '8', '25', '22', '30', '17', '21', '10', '46', '9', '7', '11', '6', nan, '31', '29', '5', 'Younger than 5 years', '28', '38', '23', '27', '41', '24', '53', '26', '35', '32', '40', '33', '36', '54', '48', '56', '45', '44', '34', 'Older than 85', '39', '51', '68', '50', '37', '47', '43', '52', '85', '64', '55', '58', '49', '76', '72', '73', '83', '63']
---------------

In [10]:
raw_df[questionable_cols] = raw_df[questionable_cols].replace(regex='than.*', value=np.NaN)
raw_df[questionable_cols] = raw_df[questionable_cols].fillna(raw_df[questionable_cols].median()).astype('float32')

In [11]:
for col in questionable_cols:
    print(col)
    print(raw_df[col].unique().tolist())
    print('---------------')
    print()

YearsCodePro
[27.0, 4.0, 6.0, 8.0, 13.0, 2.0, 7.0, 20.0, 1.0, 23.0, 3.0, 12.0, 17.0, 18.0, 10.0, 14.0, 29.0, 28.0, 9.0, 15.0, 11.0, 16.0, 25.0, 5.0, 21.0, 19.0, 35.0, 24.0, 32.0, 22.0, 30.0, 38.0, 26.0, 40.0, 33.0, 31.0, 34.0, 36.0, 39.0, 37.0, 41.0, 45.0, 47.0, 42.0, 46.0, 50.0, 43.0, 44.0, 48.0, 49.0]
---------------

YearsCode
[36.0, 7.0, 4.0, 15.0, 6.0, 17.0, 8.0, 10.0, 35.0, 5.0, 37.0, 19.0, 9.0, 22.0, 30.0, 23.0, 20.0, 2.0, 3.0, 13.0, 25.0, 16.0, 43.0, 11.0, 38.0, 33.0, 24.0, 21.0, 12.0, 40.0, 27.0, 50.0, 46.0, 14.0, 18.0, 28.0, 32.0, 44.0, 26.0, 42.0, 31.0, 34.0, 29.0, 1.0, 39.0, 41.0, 45.0, 47.0, 49.0, 48.0]
---------------

Age1stCode
[13.0, 19.0, 15.0, 18.0, 16.0, 14.0, 12.0, 20.0, 42.0, 8.0, 25.0, 22.0, 30.0, 17.0, 21.0, 10.0, 46.0, 9.0, 7.0, 11.0, 6.0, 31.0, 29.0, 5.0, 28.0, 38.0, 23.0, 27.0, 41.0, 24.0, 53.0, 26.0, 35.0, 32.0, 40.0, 33.0, 36.0, 54.0, 48.0, 56.0, 45.0, 44.0, 34.0, 39.0, 51.0, 68.0, 50.0, 37.0, 47.0, 43.0, 52.0, 85.0, 64.0, 55.0, 58.0, 49.0, 76.0, 72.0, 73.0, 83.0, 63.0]
---------------

In [12]:
# REPLACE_DICT = {
#                 "YearsCodePro": {'More than 50 years': 51, 'Less than 1 year':0},
#                 "YearsCode": {'More than 50 years': 51, 'Less than 1 year':0},
#                 "Age1stCode": {'Older than 85':86, 'Younger than 5 years':4}
#                }

In [13]:
# for col, replacement in REPLACE_DICT.items():
#     raw_df[col] = raw_df[col].replace(replacement).astype('float32')

In [14]:
raw_df.to_pickle(EXPORT_PATH)